clases/__pycache__/configurador.cpython-313.pyc
clases/__pycache__/extractor.cpython-313.pyc
modulos/__pycache__/heuristicas.cpython-313.pyc
modulos/__pycache__/logs.cpython-313.pyc
clases/__pycache__/logs.cpython-313.pyc
modulos/__pycache__/func_auxiliares.cpython-313.pyc
modulos/__pycache__/prints.cpython-313.pyc
